$primary: rgb(70, 197, 219);
$secondary: #72D6C9;
$terinary: rgb(209, 16, 113);
$link: #0d6efd;

// .event-form {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: center;
//   margin-left: 70px;
// }

.event-form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.event-card-row {
  display: flex;
  flex-direction: row;
}

.event-btn-fields {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

#event-btns {
  display:flex;
  // justify-content: center;
  
}

.event-name {
  font-family: system-ui, sans-serif;
  font-style: italic;
  font-weight: revert;
  color: rgb(30, 136, 168);
}

#desc {
  // display: inline;
  color: $link;
  border: solid 1px $link;
  font-weight: bold;
  border-radius: 1.2%;
  padding: 10px;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.25rem;
  width: 20em;
  height: 200px;
  overflow-wrap: break-word;

 
}

.card {
  padding: 0.3rem 0.3rem 0.8rem 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transform: rotate(-7deg);
  height: 250px;
  width: 270px;
}
.inner-card {
  background: #fff;
  padding: 5px;
  box-shadow: wheat;
  z-index: 0;
  position: relative;
  transform-origin: center center;
  transform: rotate(-0.6deg);
  width: 100%;
  height: inherit;
}

.card .inner-card p {
  font-family: "Amatic SC";
  margin-bottom: 0;
  padding: 10px 15px 0 15px;
  text-align: center;
  font-size: 1.2rem;
  min-height: 2rem;
  cursor: pointer;
  color: #666;
}
.event-img {
  background: #fff;
  width: fit-content;
  height: fit-content;
  box-shadow: wheat;
  z-index: 0;
  position: relative;
  transform-origin: center center;
  width: 100%;
  height: 100%;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .event-field span {
//     display: inline-block;
//     width: 5em;
//     border: 1px solid black;
// }
