$secondary: #72D6C9;
$primary: #46C5DB;

footer {
display: flex;
flex-direction: row;
justify-content: space-between;
background-image: linear-gradient(to bottom left, $primary, $secondary);
height: 100px;
width: 100%;
color: #ffffff;
padding: 1.5em;
}

.container {
  display:flex;
  flex-direction: column;
}
