$primary: rgb(70, 197, 219);
$secondary: #72D6C9;
$terinary: rgb(209, 16, 113);
$link: #0d6efd;

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to bottom left, $primary, $secondary);
  height: 5%;
  width: 100%;
  color: #ffffff;
  padding: 1.5em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.logo-container {
  display: flex;
  margin-top: -25px;
}

.wrapper {
  display: flex;
}

.link {
  color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 45px;
  color: $terinary;
  font-family: 'Road Rage', cursive;
}

.orange {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.login-reg-container {
  display: flex;
  justify-content: flex-end;
}

.home {
  padding-left: 20px;
}

.welcome-span {
  color: $terinary;
}

.login-span {
  padding-left: 20px;
}

.register-span {
  padding: 20px;
}

.logout-span:hover {
color: $link;
cursor:pointer;
}

.logout-span {
  padding-left: 20px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: smaller;
  margin-right: 35px;
}


