.nav {
    background-color: #4056A1;
    height: 40px;
    width: 100%;
    color: #FFFFFF;
    padding: 1.5em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.logo{
    font-size:x-large;
    float: left;
}
.login-reg-container{
display: flex;
justify-content: flex-end;

   
}
.login-span{
    padding-left: 20px;
    padding-right: 50px;
}
.register-span{
    padding: 20px;
}
.btn{
    margin: 50px;
   
   }
