.about {
  margin-top: 10%;
}

.about-text {
  border-radius: 20px;
	background: rgba(255,255,255, 0.5);
  width: 50%;
  margin-left:auto; 
  margin-right:auto;
  text-align: justify;
  padding: 10px;
}