.create-item-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.gift-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 70px;
}
