// body {
//   background-repeat:no-repeat;
//   background-image:url(https://irp.cdn-website.com/md/pexels/dms3rep/multi/pexels-photo-5485041.jpeg);
//   background-size:cover;
//   background-position:20% 30%;
//   text-align:center;
// }

body {
background-position:50% 30%;
background-size:cover;
}
.title {
  color: teal;
}

.event-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.click:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;

}

th,
td {
  border: 1px solid #ffffff;
  text-align:center;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}