.login-wrapper {
  background-image:url(https://irp.cdn-website.com/md/pexels/dms3rep/multi/pexels-photo-269887.jpeg) !important;
	background-color:rgba(0,0,0,0) !important;
	background-position:50% 50% !important;
	background-size:cover !important;
	background-repeat:no-repeat !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-right:0 !important;
	padding-left:0 !important;
	margin:0 !important;
	text-align:center !important;
	color:rgb(255,255,255) !important;
}