$primary: rgb(70, 197, 219);
$secondary: #72D6C9;
$terinary: rgb(209, 16, 113);
$button: rgb(105, 102, 102);

.register-background {
  background-image:url(https://irp.cdn-website.com/md/pexels/dms3rep/multi/pexels-photo-5485041.jpeg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:70% 30%;
  min-height: 100vh;
}

.parent-container {
  display: inline-flex;
  align-items: center;
  gap: 30px;
}

.register-wrapper {
  display: inline-block;
  border-radius: 20px;
	background: rgba(255,255,255, 0.8);
  color: $button;
  width: 100%;
  margin-top: 150px;
  padding: 10px;
}

label, input {
  display: flex;
  justify-content: center;
}

label {
  margin-bottom: 20px;
}

.error-msg {
  color: red;
}

.logo-2 {
  font-size: 130px;
  font-family: 'Road Rage', cursive;
  color: $terinary;
  width:100%;
}

.orange-2 {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-bottom: 100px;
}

.title-logo {
  display: inline-flex;
  align-items: flex-end;
  align-content: space-between;
  gap: 30px;
  margin-bottom: 10px;
}

.slogan {
  color: $button;
  width:75%;
}

.logo-container-2 {
margin-top: 150px;
}