body {
  background-image:url(https://irp.cdn-website.com/md/pexels/dms3rep/multi/pexels-photo-5485041.jpeg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 40%;
  text-align:center;
  margin: 0;
  font-family: 'lato', 'Helvetica Neue',
    sans-serif;
    /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', */
}

html, body {
  min-height: 100vh;
}